.page-header{
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--color-base);
  padding: 1.6rem 0;
}

.page-header .header-content{
  width: 90%;
  position: relative;
  margin: 3.2rem auto;
}

.page-header .header-content strong{
  font:700 3.6rem Archivo;
  line-height: 4.2rem;
  color:var(--color-base);
}

@media(min-width:700px){
  .page-header .top-bar-container{
    max-width: 1100px;
  }

  .page-header .header-content{
    flex: 1;
    max-width: 740px;
  }
}